@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    overflow-y: hidden;
  }

  @media only screen and (max-width: 1000px) {
    .filter-user-details, .last-message-timestamp {
      display: none;
    }
    .user-search-area, .unread-message-counter {
        display: none;
    }
    .filtered-user,.selected-user {
        @apply w-fit
    }
    /* .sidebar-container{
      @apply w-[10%]
    } */
    /* .chat-container{
      @apply w-[90%]
    } */
  }
